.Logo {
    background-color: white;
    padding: 8px;
    height: 100%;/*We set the height in the main component*/
    box-sizing: border-box;
    border-radius: 5px;
}

.Logo img {
    height: 100%;
    margin-bottom: 32px;
}