/*This is for mobile device, when we have mobile size it will show Navigation item in Column*/
.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column; /* So that in Side drawer navigational items are beneath to each other */
    align-items: center;
    height: 100%;
}
/*This is for mobile device, when we have mobile size it will show Navigation item in Column*/

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}